main{
    display: flex;
    justify-content: center;
}

.review{
    background-color: grey;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.review__button{
    display: flex;
    align-items: center;
}

#prev{
    height: 100%;
    background-color: grey;
}

#next{
    height: 100%;
    background-color: grey;
}


.img{
    height: 500px;
    width: 700px;
}